<!doctype html>
<!doctype html>
<html lang="en">
<head>
    <title>Main page</title>
    <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/jasny-bootstrap.min.css" rel="stylesheet" media="screen">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/javascripts/plaatsen.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascripts/big-slide.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var x = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            var latlon = 51.0208132 + "," + 4.4737954;

            var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="
                    +latlon+"&zoom=14&size=400x300&sensor=false";
            document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "User denied the request for Geolocation."
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable."
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "The request to get user location timed out."
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred."
                    break;
            }
        }





    </script>




</head>
<body class="animated fadeIn" onload="getLocation()">

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
    <a class="navmenu-brand" style="background-color:#F15F22;color:white; margin-top:0px;font: 400 30px/1 'Kaushan Script', cursive;" href="/main">Local Scouter</a>

    <ul class="nav navmenu-nav">
        <li class="active2" ><a style="color:white;" href="/main"><img src="/images/House_outline_16.png "> Local Scouter</a></li>
        <li ><a href="/top10region"><img src="/images/Royal_crown_outline_for_a_prince_24.png"> Top Unknown local</a></li>
        <li><a href="/top10Overal"><img src="/images/Global_symbol_24.png "> Top Unknown World</a></li>
        <li><a href="/uploadfoto"><img src="/images/Share_Arrow_24.png ">   Upload</a></li>

    </ul>
</div>

<div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span style ="background-color:white;"class="icon-bar"></span>
        <span style ="background-color:white;"class="icon-bar"></span>
        <span style ="background-color:white;"class="icon-bar"></span>
    </button>

    <center style="color:white;margin-top:10px;font: 400 24px/1 'Kaushan Script', cursive;text-indent:-11px;">Local Scouter</center>



</div>

<div class="container" >




    <div class="flip-container" onclick="this.classList.toggle('click');">
            <div class="flipper">
                <div class="front">
    <div class="polaroid">
            <img  id="slidefoto" class="image" src="" alt="">
            <p id="slidetitel"></p>
            </div>
</div>
                <div class="back">
                    <div class="polaroid">

                    <div id="mapholder"></div>
            <p id="slidebeschrijving"></p>
                        </div>
                </div>
        </div>
    </div>

    <p style=" margin-top:-50px;font-size:24px;color:#F15F22;font-family: BPreplay;text-align:center;">Do you know this place?</p>

    <button type="submit" id="button-left" >&#10007</button>
    <button type="submit" id="button-mid"  data-toggle="modal" data-target="#myModal">&#10075 &#10075 &#10075</button>

    <button type="submit" id="button-right" >&#10003</button>

    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Report this picture!</h4>
                </div>
                <div class="modal-body">
                    <strong>All reports are strictly confidential.</strong> What best destribes this?

                    <form>
                        <br>
                        <label>
                        <input type="radio" class="radio4" name="sex" value="male" checked> Report for spam!
                        </label>
                        <br>
                        <label>
                        <input type="radio" class="radio4" name="sex" value="female"> This place isn't cool!
                        </label>
                        <br>
                        <label>
                        <input type="radio" class="radio4" name="sex" value="female"> Nudity, pornography, or sexually, explicit content!
                        </label> <br>
                        <label>
                        <input type="radio" class="radio4" name="sex" value="female"> Duplicate,fake, or miscategorized!
                        </label> <br>
                        <label>
                            <input type="radio" class="radio4" name="sex" value="female"> The location is not correct!</label>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>

<script>
    $(document).ready(function(){
        var socket = io.connect('http://localhost:3000');
        socket.emit('randomize', {});
    });
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })


    document.body.onclick = function (evt) {
        var node = evt.target;

        if(node.nodeName === "INPUT") {
            var isChecked = node.checked;
            (isChecked) ?
                    isChecked = false :
                    isChecked = true;
        }
    }




    $(function(){
        var menuStatus;

        $("a.showMenu").click(function(){
            if(menuStatus != true){
                $(".ui-page-active").animate({
                    marginLeft: "165px",
                }, 300, function(){menuStatus = true});
                return false;
            } else {
                $(".ui-page-active").animate({
                    marginLeft: "0px",
                }, 300, function(){menuStatus = false});
                return false;
            }
        });

        $('.pages').live("swipeleft", function(){
            if (menuStatus){
                $(".ui-page-active").animate({
                    marginLeft: "0px",
                }, 300, function(){menuStatus = false});
            }
        });

        $('.pages').live("swiperight", function(){
            if (!menuStatus){
                $(".ui-page-active").animate({
                    marginLeft: "165px",
                }, 300, function(){menuStatus = true});
            }
        });

        $("#menu li a").click(function(){
            var p = $(this).parent();
            if($(p).hasClass('active')){
                $("#menu li").removeClass('active');
            } else {
                $("#menu li").removeClass('active');
                $(p).addClass('active');
            }
        });

    });
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jasny-bootstrap.min.js"></script>


</body>
</html>
