<!doctype html>
<!doctype html>
<html lang="en">
<head>
    <title>Main page</title>
    <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/javascripts/plaatsen.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var x = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            var latlon = 51.0208132 + "," + 4.4737954;

            var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="
                    +latlon+"&zoom=14&size=400x300&sensor=false";
            document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "User denied the request for Geolocation."
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable."
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "The request to get user location timed out."
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred."
                    break;
            }
        }





    </script>




</head>
<body class="animated fadeIn" onload="getLocation()">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span style="background-color:white;" class="icon-bar"></span>
                <span style="background-color:white;" class="icon-bar"></span>
                <span style="background-color:white;"class="icon-bar"></span>
            </button>

            <h1 style="text-align:center;color:white;font: 400 24px/1 'Kaushan Script';">Local Scouter</h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li style="border:solid 0.5px white;margin-top:-5px;font-family: BPreplay;"><a href="/main">Home </a></li>
                <li style="border:solid 0.5px white;font-family: BPreplay;"><a href="/top10region">Top 10 Local </a></li>
                <li style="border:solid 0.5px white;font-family: BPreplay;"><a href="/top10Overal">Top 10 World</a></li>
                <li style="border:solid 0.5px white;font-family: BPreplay;"><a href="/uploadfoto">Upload </a></li>
            </ul>
        </div> </div>
</nav>
<div class="container">




    <div class="flip-container" onclick="this.classList.toggle('click');">
            <div class="flipper">
                <div class="front">
    <div class="polaroid">
            <img  id="slidefoto" class="image" src="" alt="">
            <p id="slidetitel"></p>
            </div>
</div>
                <div class="back">
                    <div class="polaroid">

                    <div id="mapholder"></div>
            <p id="slidebeschrijving"></p>
                        </div>
                </div>
        </div>
    </div>

    <p style=" margin-top:-50px;font-size:24px;color:#F15F22;font-family: BPreplay;text-align:center;">Do you know this place?</p>

    <button type="submit" id="button-left" >X</button>
    <button type="submit" id="button-mid"  data-toggle="modal" data-target="#myModal">...</button>

    <button type="submit" id="button-right" >+</button>

    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Report this picture!</h4>
                </div>
                <div class="modal-body">
                    <strong>All reports are strictly confidential.</strong> What best destribes this?

                    <form>
                        <br>
                        <label>
                        <input type="radio" class="radio4" name="sex" value="male" checked>Report for spam!
                        </label>
                        <br>
                        <label>
                        <input type="radio" class="radio4" name="sex" value="female">This place isn't cool!
                        </label>
                        <br>
                        <label>
                        <input type="radio" class="radio4" name="sex" value="female">Nudity, pornography, or sexually, explicit content!
                        </label> <br>
                        <label>
                        <input type="radio" class="radio4" name="sex" value="female">Duplicate,fake, or miscategorized!</label>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>

<script>
    $(document).ready(function(){
        var socket = io.connect('http://localhost:3000');
        socket.emit('randomize', {});
    });
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })


    document.body.onclick = function (evt) {
        var node = evt.target;

        if(node.nodeName === "INPUT") {
            var isChecked = node.checked;
            (isChecked) ?
                    isChecked = false :
                    isChecked = true;
        }
    }
</script>


</body>
</html>
