<!doctype html>
<!doctype html>
<html lang="en">
<head>
    <title>Main page</title>
    <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="stylesheets/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="/javascripts/plaatsen.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="content/bootstrapJS/jquery-2.1.1.min.js" type="text/javascript"></script>



    <script>




        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            var latlon = 51.0208132 + "," + 4.4737954;

            var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="
                    +latlon+"&zoom=14&size=400x300&sensor=false";
            document.getElementsByClassName("mapholder")[0].innerHTML = "<img src='"+img_url+"'>";
            document.getElementsByClassName("mapholder")[1].innerHTML = "<img src='"+img_url+"'>";
            document.getElementsByClassName("mapholder")[2].innerHTML = "<img src='"+img_url+"'>";
            document.getElementsByClassName("mapholder")[3].innerHTML = "<img src='"+img_url+"'>";
            document.getElementsByClassName("mapholder")[4].innerHTML = "<img src='"+img_url+"'>";
            document.getElementsByClassName("mapholder")[5].innerHTML = "<img src='"+img_url+"'>";
            document.getElementsByClassName("mapholder")[6].innerHTML = "<img src='"+img_url+"'>";
            document.getElementsByClassName("mapholder")[7].innerHTML = "<img src='"+img_url+"'>";
            document.getElementsByClassName("mapholder")[8].innerHTML = "<img src='"+img_url+"'>";
            document.getElementsByClassName("mapholder")[9].innerHTML = "<img src='"+img_url+"'>";

        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "User denied the request for Geolocation."
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable."
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "The request to get user location timed out."
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred."
                    break;
            }
        }




    </script>





    <script type="text/javascript">

    </script>
</head>
<body class="animated fadeIn" onload="getLocation()" >








<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
    <a class="navmenu-brand" style="background-color:#F15F22;color:white; margin-top:0px;font: 400 30px/1 'Kaushan Script', cursive;" href="/main">Local Scouter</a>

    <ul class="nav navmenu-nav">
        <li><a href="/main"><img src="/images/House_outline_24g.png " > Local Scouter</a></li>
        <li class="active2"><a style="color:white;" href="/top10region"><img src="/images/Royal_crown_outline_for_a_prince_24w.png " style="margin-top:-5px;"> Top Unknown local</a></li>
        <li><a href="/top10Overal"><img src="/images/Global_symbol_24.png "> Top Unknown World</a></li>
        <li><a href="/uploadfoto"><img src="/images/Share_Arrow_24.png ">   Upload</a></li>

    </ul>
</div>

<div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span style ="background-color:white;"class="icon-bar"></span>
        <span style ="background-color:white;"class="icon-bar"></span>
        <span style ="background-color:white;"class="icon-bar"></span>
    </button>

    <center style="color:white;margin-left:-22px;margin-top:10px;font: 400 24px/1 'Kaushan Script', cursive;position:absolute:">Top Unknown Local</center>



</div>

<div class="container">





   <div style="margin-top:-50px;" class="flip-container" ontouchstart="this.classList.toggle('hover');">

    <div class="flipper">

        <div class="front">
            <div class="polaroid">
                <img src="http://www.solvus.be/nl/thumbnail/column/venue-1394542363.png">
                <p>Mechelen</p>
            </div>
        </div>
        <div class="back">
            <div class="polaroid">
                <div class="mapholder"></div>

                <p></p>
            </div>
        </div>
    </div>
</div>



    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="polaroid">
                    <img src="https://michaelblogt.files.wordpress.com/2014/12/img_0809.jpg">
                    <p>Mechelen</p>
                </div>
            </div>
            <div class="back">
                <div class="polaroid">
                    <div class="mapholder"></div>

                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="polaroid">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTezNKzCNsT0LMUXSLVoyy8v6ivGVW1CmwGlRLNvgbEScmqwA">                    <p>Mechelen</p>
                </div>
            </div>
            <div class="back">
                <div class="polaroid">
                    <div class="mapholder"></div>

                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="polaroid">
                    <img src="http://www.tervuren.be/images/uploaded/634309408941927583.jpg">                    <p>Mechelen</p>
                </div>
            </div>
            <div class="back">
                <div class="polaroid">
                    <div class="mapholder"></div>

                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="polaroid">
                    <img src="https://michaelblogt.files.wordpress.com/2011/08/img_53841.jpg">
                    <p>Mechelen</p>
                </div>
            </div>
            <div class="back">
                <div class="polaroid">
                    <div class="mapholder"></div>

                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="polaroid">
                    <img src="http://www.pasar.be/activiteiten/themafotos/1/01.jpg">                    <p>Mechelen</p>
                </div>
            </div>
            <div class="back">
                <div class="polaroid">
                    <div class="mapholder"></div>

                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="polaroid">

                    <img src="http://toerisme.ego4.mechelen.preview.anaxis.be/files/uploads/imagecache/Origineel/images/Sint-Romboutstoren/sint-romboutstoren_skywalkcaikonproducties_toerisme_mechelen-6.jpg">
                    <p>Mechelen</p>
                </div>
            </div>
            <div class="back">
                <div class="polaroid">
                    <div class="mapholder"></div>

                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="polaroid">
                    <img src="http://toerisme.mechelen.be/files/uploads/imagecache/nexDoormatMenuItemImage/images/Menu/Doen/Wandelen%20en%20Fietsen/waar-naartoe_actief-bezoeken_wandelen_ind_in-de-natuur_wandelgebied-rivierenland_bert-delanoeije.jpg">
                    <p>Mechelen</p>
                </div>
            </div>
            <div class="back">
                <div class="polaroid">
                    <div class="mapholder"></div>

                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="polaroid">
                    <img src="http://www.greetgeypen.be/wp-content/uploads/2011/10/vaartz.jpg">
                    <p>Mechelen</p>
                </div>
            </div>
            <div class="back">
                <div class="polaroid">
                    <div class="mapholder"></div>

                    <p></p>
                </div>
            </div>
        </div>
    </div>




    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="polaroid">
                    <img src="http://toerisme.mechelen.be/files/uploads/imagecache/nexDoormatMenuItemImage/images/Menu/Doen/Wandelen%20en%20Fietsen/waar-naartoe_actief-bezoeken_wandelen_ind_in-de-natuur_wandelgebied-rivierenland_bert-delanoeije.jpg">
                    <p>Mechelen</p>
                </div>
            </div>
            <div class="back">
                <div class="polaroid">
                    <div class="mapholder"></div>

                    <p></p>
                </div>
            </div>
        </div>
    </div>



    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>


    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">



</div>

<script>

    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })

    $(document).ready(function(){
        var socket = io.connect('http://localhost:3000');
        socket.emit('randomize', {});
    });


    $(function(){
        var menuStatus;

        $("a.showMenu").click(function(){
            if(menuStatus != true){
                $(".ui-page-active").animate({
                    marginLeft: "165px",
                }, 300, function(){menuStatus = true});
                return false;
            } else {
                $(".ui-page-active").animate({
                    marginLeft: "0px",
                }, 300, function(){menuStatus = false});
                return false;
            }
        });

        $('.pages').live("swipeleft", function(){
            if (menuStatus){
                $(".ui-page-active").animate({
                    marginLeft: "0px",
                }, 300, function(){menuStatus = false});
            }
        });

        $('.pages').live("swiperight", function(){
            if (!menuStatus){
                $(".ui-page-active").animate({
                    marginLeft: "165px",
                }, 300, function(){menuStatus = true});
            }
        });

        $("#menu li a").click(function(){
            var p = $(this).parent();
            if($(p).hasClass('active')){
                $("#menu li").removeClass('active');
            } else {
                $("#menu li").removeClass('active');
                $(p).addClass('active');
            }
        });

    });


</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jasny-bootstrap.min.js"></script>

</body>
</html>
