<!doctype html>
<!doctype html>
<html lang="en">
<head>
    <title>Top 10 Overal page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body class="animated fadeIn">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span style="background-color:white;" class="icon-bar"></span>
                <span style="background-color:white;" class="icon-bar"></span>
                <span style="background-color:white;"class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main"><img src="../images/logo.png" alt="logo" style="height:30px;width:130px;"/></a>
            <h1 style="text-align:center;color:white;">Top 10 Overal</h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li style="color:white;background-color:#f15f22;"><a href="/top10region">Top 10 Region </a></li>
                <li style="color:white;background-color:#f15f22"><a href="/top10Overal">Top 10 Overal</a></li>
                <li style="color:white;background-color:#f15f22;"><a href="/uploadfoto">Upload </a></li>
            </ul>
        </div> </div>
</nav>

<div class="container">
    <div class="polaroid">
        <img src="http://www.vlaanderenvakantieland.nl/binaries/_0010_mechelen_geschiedenis_tcm47-139773.jpg">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="polaroid">
        <img src="https://michaelblogt.files.wordpress.com/2014/12/img_0809.jpg">
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="polaroid">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTezNKzCNsT0LMUXSLVoyy8v6ivGVW1CmwGlRLNvgbEScmqwA">
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="polaroid">
        <img src="http://www.vlaanderenvakantieland.nl/binaries/lier-0404-12-c-D_Rys%20_Toerisme%20Vlaanderen-47-54363.jpg">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="polaroid">
        <img src="http://www.tervuren.be/images/uploaded/634309408941927583.jpg">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="polaroid">
        <img src="https://michaelblogt.files.wordpress.com/2011/08/img_53841.jpg">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="polaroid">
        <img src="http://www.pasar.be/activiteiten/themafotos/1/01.jpg">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="polaroid">
        <img src="http://toerisme.ego4.mechelen.preview.anaxis.be/files/uploads/imagecache/Origineel/images/Sint-Romboutstoren/sint-romboutstoren_skywalkcaikonproducties_toerisme_mechelen-6.jpg">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="polaroid">
        <img src="http://toerisme.mechelen.be/files/uploads/imagecache/nexDoormatMenuItemImage/images/Menu/Doen/Wandelen%20en%20Fietsen/waar-naartoe_actief-bezoeken_wandelen_ind_in-de-natuur_wandelgebied-rivierenland_bert-delanoeije.jpg">
    </div>



</body>
</html>
