<!doctype html>
<!doctype html>
<html lang="en">
<head>
    <title>Main page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/plaatsen.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body class="animated fadeIn" onload="getLocation()">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/main"><img src="../images/logo.png" alt="logo"/></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <li style="text-align:center; color:white; font-size:30px;list-style-type:none;margin-top:-50px;">Upload a Foto</li>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <<li><a href="/top10region">Top 10 Region</a></li>
            <li><a href="/top10Overal">Top 10 Overal</a></li>
            <li><a href="/uploadfoto">Upload a Foto</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <form id        =  "uploadForm"
          enctype   =  "multipart/form-data"
          action    =  "/api/photo"
          method    =  "post"
            >
        <label>Geef een titel aan jou foto</label>
        <input  id ="titel" type="text" name="Titel" />
        <label>Geef hier een korte beschrijving in</label>
        <input id ="beschrijving" type="text" name="beschrijving" />
        <input id="linkpicture" type="file" name="userPhoto" />
        <input type="hidden" id="latitude">
        <input type="hidden" id="longitude">
        <input type="submit" value="Upload Image" name="submit">
    </form>
</div>
<script>

    var x = document.getElementById("latitude");
    var y = document.getElementById("longitude");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.value =  position.coords.latitude;
        y.value = position.coords.longitude;
    }


</script>





</body>
</html>
