<!doctype html>
<!doctype html>
<html lang="en">
<head>
    <title>Main page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/plaatsen.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body class="animated fadeIn" onload="getLocation()"  style=" background-color:#f15f22;">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span style="background-color:white;" class="icon-bar"></span>
                <span style="background-color:white;" class="icon-bar"></span>
                <span style="background-color:white;"class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main"><img src="../images/logo.png" alt="logo" style="height:30px;width:130px;"/></a>
            <h1 style="text-align:center;color:white;">Upload Foto</h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li style="color:white;background-color:#f15f22;"><a href="/top10region">Top 10 Region </a></li>
                <li style="color:white;background-color:#f15f22"><a href="/top10Overal">Top 10 Overal</a></li>
                <li style="color:white;background-color:#f15f22;"><a href="/uploadfoto">Upload </a></li>
            </ul>
        </div> </div>
</nav>
<div class="container">
    <h1 class="animated4 fadeIn indexh1" style="color:white;margin-top:-70px;">Local Scouter</h1>
    <form id        =  "uploadForm" class="animated4 fadeIn"
          enctype   =  "multipart/form-data"
          action    =  "/api/photo"
          action    =  "/api/photo"
          method    =  "post"
            >



        <ul class="input-list style-1 clearfix">
            <h3 style="color:white;"> Geef een Titel op<span class="req">*</span></h3>
            <li>

                <input type="text" id ="titel" placeholder="">
            </li>
            <h3 style="color:white;"> Geef een Korte beschrijving<span>*</span></h3>
            <li>

                <input type="text" id ="beschrijving" />
            </li>

        </ul>
        <br>
<br>
        <input id="linkpicture" class ="btn btn-default button2" type="file" name="userPhoto" />
        <input type="hidden" id="latitude">
        <input type="hidden" id="longitude">
        <br>
        <br>
        <button type="submit" value="Upload Image"  class="btn btn-default button"/>Deel jou plaats.</button>

    </form>
</div>
<script>

    var x = document.getElementById("latitude");
    var y = document.getElementById("longitude");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.value =  position.coords.latitude;
        y.value = position.coords.longitude;
    }


</script>





</body>
</html>
