body{background-color:#e9e9eb;}

.navbar-header {
    float: none;
    background-color:#f15f22;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {

}
.navbar-collapse.collapse {
    display: none!important;

}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;

}
.navbar-nav>li {
    float: none;
    text-align:center;

}

.navbar-collapse.collapse.in {display: block !important; }
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.polaroid {
    position: relative;
    margin-left:auto;
    margin-right:auto;


}

li{list-style-type:none;flaot:left;}
.fotoicon{width:40px;height:40px;float:left;display:block;}
.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
   width:400px;
    height:400px;
}

.polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font: 400 18px/1 'Kaushan Script', cursive;
    color: #888;
}
.indexh1{font: 400 50px/1 'Kaushan Script', cursive;text-align:center;}
#button-left{background-color:green;color:white; height:50px;width:150px;font-size:26px;}
#button-right{float:right;margin-right:-20px;background-color:red;color:white;height:50px;width:150px;font-size:26px;}
.container{margin-top:150px;width:400px;margin-left:auto;margin-right:auto;}

#mapholder img{}



img{width:100%;height:100%;}
#foto2{margin-top:-340px;}
#foto3{margin-top:-340px;margin-left:-70px;}

/* Animation Sector */

.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.52;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated2 {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.7s; /* Chrome, Safari, Opera */
    animation-delay: 0.7s;
}
.animated3 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.52;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.4s; /* Chrome, Safari, Opera */
    animation-delay: 1.4s;
}
.animated4 {
-webkit-animation-duration: 0.2s;
    animation-duration: 0.52;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay:2s;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}






/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}